{% if site.data.settings.experience %}
<!-- experience -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ site.data.settings.experience-title }}</h2>
      </div>
      <div class="col-lg-6">
        <div class="timeline">
          {% for experience in site.data.settings.experience %}
          <div class="timeline-item">
            <div class="timeline-marker"></div>
            <div class="timeline-content">
              <h4>{{ experience.name }}</h4>
              <span class="date">{{ experience.date }}</span>
              <p class="organization">{{ experience.organization }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ./experience -->
{% endif %}
